/* program.css */
#program {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#program.program-hidden {
    display: none;
}

.program-box {
    background: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    max-width: 90%;
    max-height: 90vh;
    overflow-y: auto;
}

.program-box input {
    width: 60px;
    margin-left: 5px;
}
